/*共用属性*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.container{            /*内容区*/
	width: 1360px;
	margin-right: auto;
	margin-left: auto;
}
.clearfix:after{ 
	content: ".";  /* 搭配after伪类选择器，内容为空*/
	display: block;
	height: 0; 
	clear: both; 
	visibility: hidden;  
}
.clearfix{
	*zoom: 1;      /*兼容IE浏览器*/
}
a{
	text-decoration: none;
	font-size: 14px;
	color:#fff;
}
.text1{
	text-align: center;
	font-size: 32px;
	color: #000106;
	margin-bottom: 38px;
}
.text2{
	text-align: center;
	font-size: 20px;
	color: #00010c;
	margin-bottom: 80px;
}
.text3{
	width: 316px;
	font-size: 16px;
	color: #000400;
	margin-top: 48px;
	margin-bottom: 24px;
}
.text4{
	width: 316px;
	font-size: 14px;
	color: #8e8f91;
}
.text5{
	/*text-align: center;*/
	font-size: 12px;
	color: #fffdff;
}
/*抽取的公共样式*/
.liov{
	width: 96px;
	height: 56px;
	text-align: center;
	line-height: 56px;
	/*float: left;*/
	/*background-color: #000;*/
}
.spn{
	width: 92px;
	border-top: 2px solid rgba(235,235,235,0.5);
	position: absolute;
}