/*top区域*/
	.top{
		height: 56px;
		width: 100%;
		background-color: #242424;
		position: fixed;
		top: 0px;
	}
	.top a img{
		float: left;
		width: 34px;
		height: 32px;
		margin: 15px 10px 0px 0px;
	}
	.top a h1{
		float: left;
		font-size: 20px;
		line-height: 56px;
	}
	.top .top-list{
		float: left;
		padding-left: 29px;
	}
	.top .top-list li{
		width: 96px;
		height: 56px;
		text-align: center;
		line-height: 56px;
		float: left;
	}
	.top .top-list li:hover{
		background-color: #000;
	}
	.top .top-list li:hover a{
		color: #1187ff;
	}
	.top .top-list .top-kzt{
		margin-left: 293px;
	}
	.top .container input{
		float: right;
		width: 78px;
		height: 30px;
		border: 1px solid #d9d9d9;
		box-sizing:border-box;
		outline: none;
		background-color: #242424;
		border-radius: 16px;
		color: #f7f7f7;
		font-size: 12px;
		margin-top: 14px;
		margin-right: 62px;
	}
	.top .container input:hover{
		background-color: #1187ff;
		border-color: #1187ff;
	}
	#box1{
		position: fixed;
		top: 56px;
		width: 96px;
		height: 168px;
		left: 465px;
		background-color: #000;
	}
/*header区域*/
	.header{
		height: 480px;
		/*background-color: blue;*/
		background-image: url(../images/headerbackground.png);
		background-size: cover;
		margin-top: 56px;
	}
	.header .container{
		height: 480px;
		position: relative;
	}
	.header .container .header-ul{
		position: absolute;
		bottom: 0px;
		left: 648px;
	}
	.header .header-ul li{
		float: left;
		width: 16px;
		height: 3px;
		background-color: rgba(235,235,235,0.4);
		margin-left: 4px;
		margin-bottom: 12px;
		cursor: pointer;   /*鼠标放上变小手*/
		transition: background-color 650ms linear;
	}
	.header .header-ul li:hover{
		background-color: rgba(235,235,235,1);
	}
	.header .header-ul .header-list{
		width: 23px;
		background-color: rgba(235,235,235,1);
	}
/*main-1区域*/
	.main-1{
		/*height: 2046px;*/
		background-color: #f5f6f8;
		padding-bottom: 83px;
	}
	.main-1-one{
		padding-top: 78px;
		height: 515px;
		/*background-color: orange;*/
	}
	.main-one-bottom div{
		float: left;
		width: 340px;
		height: 252.38px;
	}
	.main-one-bottom div img{
		width: 316px;
		height: 120px;
	}
	.main-1-two{
		padding-top: 78px;
		/*background-color: blue;*/
	}
	.main-1-two .main-1-two-ul div{
		width: 664px;
		height: 379px;
		float: left;
	}
	.main-1-two .main-1-two-ul div:nth-child(1),
	.main-1-two .main-1-two-ul div:nth-child(3){
		margin-right: 32px;
	}
	.main-1-two .main-1-two-ul p{
		text-align: center;
		font-size: 16px;
		margin-top: 24px;
		color: #060010;
	}
	.main-1-two img{
		height: 295px;
	}
	.main-1-three{
		padding-top: 124px;
		/*background-color: orange;*/
	}
	.main-1-three>p{
		margin-bottom: 66px;
	}
	.main-1-three .main-1-three-tu div{
		float: left;
		width: 340px;
	}
	.main-1-three-tu svg{
		font-size: 32px;
	}
	.main-1-three-tu .text3{
		margin-top: 32px;
	}
	.main-1-three-tu p{
		width: 310px;
	}
/*skill-1区域*/
	.skill-1{
		height: 368px;
		background-color: #2a2f59;
		padding-top: 62px;
		padding-bottom: 80px;
	}
	.skill-1 .container .text2{
		margin-bottom: 55px;
		color: #fff;
	}
	.skill-1-top>div{
		width: 272px;
		height: 52px;
		/*background-color: orange;*/
		float: left;
		text-align: center;
		position: relative;
	}
	.spn-r{
		right: 0px;
		top: 25px;
	}
	.spn-l{
		left: 0px;
		top: 25px;
	}
	.skill-1-top div svg{
		margin-top: 7px;
		font-size: 38px;
		color: #fff;
	}
	.text3-1{
		font-size: 16px;
		color: #fff;
		margin-top: 24px;
		margin-bottom: 24px;
	}
	.skill-1-bottom>div{
		width: 272px;
		height: 118px;
		/*background-color: green;*/
		float: left;
		text-align: center;
	}
	.skill-1-con{
		position: relative;
		width: 100%;
		height: 116px;
	}
	.skill-1-con a{
		position: absolute;
		width: 300px;
		height: 56px;
		background-color: #00c1e0;
		color: #fff;
		font-size: 20px;
		bottom: 0px;
		left: 50%;
		margin-left: -150px;
		text-align: center;
		line-height: 56px;	
	}
	.skill-1-con a:hover{
		color: #000;
	}
/*main-2区域*/
	.main-2{
		height: 1226px;
		background-color: #f5f6f8;
	}
/*skill-2区域*/
	.skill-2{
		height: 456px;
		background-color: green;
	}
/*join区域*/
	.join{
		height: 280px;
		background-color: pink;
	}
/*footer区域*/
	.footer{
		height: 239px;
		background-color: gray;
	}
/*bottom区域*/
	.bottom{
		height: 55px;
		background-color: black;
	}