body{
	font-size: 12px;
}
.container{
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	/*background-color: blue;*/
}
.clearfix:after{ 
	content: ".";  /* 搭配after伪类选择器，内容为空*/
	display: block;
	height: 0; 
	clear: both; 
	visibility: hidden;  
}
.clearfix{
	*zoom: 1;      /*兼容IE浏览器*/
}
.fl{
	float: left;
}
.fr{
	float: right;
}
a{
	text-decoration: none; 
	color:#4d555d;
}
a.link:hover{
	color: #ea675a;
}
.transition{
	transition: all 0.5s;
}
.dropdown{
	position: relative;
}
.dropdown-layer{
	display: none;
	position: absolute;
}